.home {
    width: 100%;
    height: 100%;
}

.descrpt-sec {
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}

.shoe-img-holder {
    border-radius: 10px;
    overflow: hidden;
    
}

.descrpt {
    width: 40%;
}


.desc-img {
    height: 350px;
    width: 350px;
    border-radius: 10px;
}

.title {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    color: hsl(26, 100%, 55%)
}
.desc2 {
    width: 55%;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 28px;
}

.desc-details {
    font-size: 16px;
    font-weight: 200;
    width: 95%;
    line-height: 1.5rem;
}

.price-holder {
    display: flex;
    flex-direction: row;
    width: 31%;
    justify-content: space-evenly;
    align-items: center;
}

.discount-holder {
    height: 27px;
    width: 45px;
    background-color: hsl(25, 100%, 94%);
    text-align: center;
    border-radius: 5px;
}

.discount {
    font-size: 11px;
    color: hsl(26, 100%, 55%);
    font-weight: 700;
    text-align: center;
}



.frm-price {
    font-size: 16px;
    transform: translateY(-25px);
    margin: 13px;
    font-weight: 400;
    text-decoration: line-through;
}

.cart-logic-cont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color:  hsl(223, 64%, 98%);
    height: 42px;
    width: 132px;
    border-radius: 7px;
}

.cart-symb {
    font-size: 24px;
    color: hsl(26, 100%, 55%);
    font-weight: 700;
    cursor: pointer;
    margin: 6px;
}

.cart-state {
    font-size: 14px;
    color: black;
    font-weight: 700;  
    cursor: pointer; 
    margin: 8px;
}
.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.btn {
    height: 42px;
    width: 192px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: hsl(26, 100%, 55%);
    border-radius: 8px;
    cursor: pointer;
    transition:  all 0.3s ease;
}

.btn:hover,
.btn:focus {
    height: 47px;
    width: 198px;
}



.btn-cart-icon {
    color: white;
    margin: 5px;
}

.btn-text {
    color: white;
    font-size: 14px;
    font-weight: 400;
}

.cart-btn-cont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 65%;
}

.preview-holder {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 14px;
}


/* media queries */

@media (max-width: 480px) {
    .descrpt-sec {
        margin-top: 5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        
    }

    .descrpt {
        width: 100%;
        align-self: center;
        margin-left: 30px;
    }

    .price-holder {
        display: flex;
        flex-direction: row;
        width: 45%;
        justify-content: space-evenly;
        align-items: center;
    }

    .cart-btn-cont {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 85%;
        margin: 20px;
    }
    
  }


  @media (max-width: 768px) {
    .price-holder {
        display: flex;
        flex-direction: row;
        width: 56%;
        justify-content: space-evenly;
        align-items: center;
    }

    .cart-btn-cont {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 110%;
    }

  }