.preview-image {
    height: 80px;
    width: 80px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease; /* Add a transition for smooth size changes */
}

.preview-image:focus,
.preview-image:hover {
    height: 100px;
    width: 100px;
    border-color:hsl(26, 100%, 55%);
}
